@tailwind base;
@tailwind components;
@tailwind utilities;
@import "notivue/notifications.css";
@import "notivue/animations.css";
@import url("https://fonts.googleapis.com/css2?family=Moul&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moul&family=Noto+Sans+Khmer:wght@100..900&display=swap");

@layer base {
  .Container {
    @apply lg:w-[1900px] xl:w-[1900px] md:w-full w-full mx-auto;
  }
  h1 {
    @apply lg:text-[40px] xl:text-[40px] md:text-[40px] text-[18px] font-bold lg:leading-[59px] xl:leading-[59px] md:leading-[59px] leading-[24px];
  }
  .heading1 {
    @apply text-[35px] text-textbody leading-[39px];
  }
  .heading2 {
    @apply text-[30px] text-textbody leading-[39px];
  }
  .khmer-heading1 {
    @apply lg:text-[38px] xl:text-[38px] md:text-[18px] text-[18px] text-white font-[400] font-KhmerMoul;
  }
  .simple-text {
    @apply text-[18px] text-textbody font-bold;
  }

  .text-menu {
    @apply text-[30px] leading-[39px] text-primery1 font-bold;
  }
  .box-btn {
    @apply bg-primery1 rounded-[6px] px-[24px] py-[12px];
  }
  .box {
    @apply rounded-[6px] px-[24px] py-[12px];
  }
  .boxbtn {
    @apply rounded-[6px]  px-[24px] py-[12px] active:bg-primery1/50  duration-300 active:text-white hover:bg-primery1 hover:text-background;
  }
  .btn {
    @apply rounded-[6px] w-[340px] h-[90px] shadow-md  text-white hover:text-primery1 flex items-center justify-center gap-4 hover:border-2 hover:border-primery1 duration-200 hover:bg-background;
  }
  .btndynamic {
    @apply rounded-[6px] px-[24px] py-[12px] hover:border outline-none hover:bg-background hover:text-primery1 duration-300 hover:border-primery1;
  }
  .input_search {
    @apply rounded-[6px] px-[24px] py-[12px] border border-borderBody w-[386px] hover:border-primery1 focus:shadow-md flex items-center;
  }
  .input {
    @apply rounded-[6px] px-[24px] py-[12px] border-2 duration-300 outline-none border-borderBody placeholder:text-heading4 w-full hover:border-primery1 focus:shadow-md flex items-center;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
@layer base {
  tr:nth-child(even) {
    @apply bg-primery1/25  text-textbody;
  }
}
